type file
id Aardvark.Compiler.DomainTypes
authors VRVis Research Center
description
    Domain-Type Preprocessor for FSharp Projects
files
    ..\..\bin\Release\Aardvark.Compiler.DomainTypes.dll ==> build
    ..\..\bin\Release\Aardvark.Compiler.DomainTypes.targets ==> build
	..\..\bin\Release\FSharp.Compiler.Service.dll ==> build
dependencies
	FSharp.Compiler.Service   ~> 6.0.2 