/bin
obj
/.vs/DependentFiles/v14/*.suo
/src/.vs/DependentFiles/v14/*.suo
/packages
/paket-files
/.paket/paket.exe
/.fake
/src/.vs/Aardvark.Compiler.DomainTypes/v14/*.suo
*.g.fs
/src/.vs/Aardvark.Compiler.DomainTypes/v15/*.suo
