/bin
obj
/.vs/DependentFiles/v14/*.suo
/src/.vs/DependentFiles/v14/*.suo
/packages
/paket-files
/.paket/paket.exe
/.fake
/src/.vs/Aardvark.Compiler.DomainTypes/v14/*.suo
*.g.fs
/src/.vs/Aardvark.Compiler.DomainTypes/v15/*.suo
/src/.vs/Example/v14/*.suo
/src/.vs/Example/v15/*.suo
/.paket/Paket.Restore.targets
**/bin/
/src/.vs/Example/DesignTimeBuild/*.dtbcache
/src/.vs/Aardvark.Compiler.DomainTypes/DesignTimeBuild/*.dtbcache
