framework: net45, net46, net47, netstandard2.0, net471, netcoreapp2.0
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget FSharp.Core ~> 4.3.0

nuget Aardvark.Base                           ~> 4.0.0
nuget Aardvark.Base.FSharp                    ~> 4.0.0
nuget Aardvark.Base.Incremental               ~> 4.0.0
nuget Aardvark.Base.Essentials                ~> 4.0.0

nuget FSharp.Compiler.Service                 ~> 22.0.3

nuget Microsoft.Build.Tasks.Core              ~> 15.6.85
nuget Microsoft.Build.Framework               ~> 15.6.85
nuget Microsoft.Build.Utilities.Core          ~> 15.6.85
nuget Microsoft.Build                         ~> 15.6.85

group Build
content: none
framework: net45
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json

nuget ILMerge ~> 2.14.1208
github vrvis/Aardvark.Fake:v4