framework: >= net45
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget Aardvark.Base                           ~> 3.0.15
nuget Aardvark.Base.FSharp                    ~> 3.0.15
nuget Aardvark.Base.Incremental               ~> 3.0.15
nuget Aardvark.Base.Essentials                ~> 3.0.15

nuget FSharp.Compiler.Service                 ~> 12.0.8

nuget Microsoft.Build.Tasks.Core              ~> 15.1.1012
nuget Microsoft.Build.Framework               ~> 15.1.1012
nuget Microsoft.Build.Utilities.Core          ~> 15.1.1012
nuget Microsoft.Build                         ~> 15.1.1012

group Build
content: none
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json

nuget ILMerge ~> 2.14.1208
github vrvis/Aardvark.Fake:standalone