type file
id FSharp.Compiler.PreProcessing
authors VRVis Research Center
description
    FSharp Extensions for Aardvark.Base
files
    ..\..\bin\Release\FSharp.Compiler.PreProcessing.dll ==> build
    ..\..\bin\Release\FSharp.Compiler.PreProcessing.targets ==> build
dependencies
	Aardvark.Base
	Aardvark.Base.FSharp
	Aardvark.Base.Incremental
	Aardvark.Base.Essentials